body{
    margin:0;
    overflow:hidden;
    background:black;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

canvas{
    width:100vw;
    height:100vh;

    max-width:450px;
    max-height:800px;

    background:#444;
}